//$header-black: #1e2129;
$black: #27323D;
$dark-red: #c75c5c;
$bg-red: #fc4c24;
$bg-gray: #e9eaec;
$light-gray: #f9f9f9;
//$common-blue: #008df3;
$common-blue: #3498DB;
$light-blue: #f3f7fb;
$dark-blue: #a0b5c0;
$midnight-blue: #2C3E50;
$wetasphalt: #34495E;
$bg-orange: #e0995e;
$brown: #ae7868;
$red: #ad3c40;
$orange: #fc4f08;
$green: #209833;
$global-border: #e2e2e2;
$border-gray: #d7d7d7;
$color3: #333;
$color6: #666;
$color9: #999;
$white: rgba(255,255,255,.8);
$light-orange:#F7534C;
$light-green:#58B9C4;
$purple:#CC3366;

